<div class="any-list--panel" id="<%= dom_id(list) %>" data-controller="list" data-list-id="<%= list.id %>" data-list-workspace="<%= list.workspace.to_param %>">
  <div id="<%= dom_id(list, :header) %>">
    <%= form_for [list.workspace, list], method: :delete, html: {data: {confirm: "Are you sure you want to delete #{list.name} list?"}, class: "sticky top-0 bg-white pt-6 flex justify-between"} do |f|%>
      <h3 class="truncate"><%= list.name %></h3>
      <button class="hover:text-red rounded inline-flex items-center outline-none focus:outline-none delete-btn">
        <svg class="fill-current w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22"><path d="M8 6V4c0-1.1.9-2 2-2h4a2 2 0 0 1 2 2v2h5a1 1 0 0 1 0 2h-1v12a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V8H3a1 1 0 1 1 0-2h5zM6 8v12h12V8H6zm8-2V4h-4v2h4zm-4 4a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0v-6a1 1 0 0 1 1-1zm4 0a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0v-6a1 1 0 0 1 1-1z"/>
        </svg>
      </button>
    <% end %>
  </div>
  <hr class="mt-1">
  <div class="pt-2" id="<%= dom_id(list, :items) %>" data-target="list.items">
    <%= render list.items %>
  </div>
  <div class="bg-white py-2" id="<%= dom_id(list, :new_item) %>">
    <%= form_for [list.workspace, list, list.items.new], remote: true, html: {class: "flex items-center border-b border-b-2 border-teal-500 mb-4 pb-1"} do |f| %>
      <%= f.text_field :desc, class: "any-text-input", placeholder: "New item", autocomplete: "off" %>
    <% end %>
  </div>
</div>
