<div class="px-6" data-controller="workspaces--remember" data-workspaces--remember-url="<%= workspace_path(workspace) %>" data-workspaces--remember-name="<%= workspace.name %>">
  <div class="grid grid-cols-1 lg:grid-cols-chat gap-4" data-controller="workspace" data-workspace-id="<%= workspace.to_param %>">
    <%= render "chats/chat", workspace: workspace %>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4" id="<%= dom_id(workspace, :lists) %>" data-target="workspace.lists">
      <%= render Banner::Component.new(id: "todo") do %>
        <p class="font-bold">TODOs with live updates</p>
        <p>
          This part of the app implements a typical TODO application backed by REST API.
          It is spiced with <em>cables</em> to synchronize updates between the connected clients.
        </p>
        <br/>
        <p>Check out <code>ListsController</code> and <code>ItemsController</code> classes.</p>
      <% end %>
      <%= render workspace.lists %>
      <%= render "lists/new", workspace: workspace %>
    </div>
  </div>
</div>
