<div class="px-6">
  <div class="grid grid-cols-1 lg:grid-cols-chat gap-4">
    <%= render "chat" %>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
      <%= render "list" %>
      <%= render "list" %>
      <%= render "list" %>
      <%= render "list" %>
    </div>
  </div>
</div>
