<!DOCTYPE html>
<html>
  <head>
    <title>AnyCable Rails Demo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <% if logged_in? %>
      <meta name="current-user-name" content="<%= current_user.name %>" data-turbolinks-track="reload">
      <meta name="current-user-id" content="<%= current_user.id %>" data-turbolinks-track="reload">
    <% end %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_pack_tag "application", data: {turbolinks: {track: "reload"}} %>
    <%= javascript_pack_tag "application", data: {turbolinks: {track: "reload"}}, defer: true %>
  </head>
  <body class="h-screen relative">
    <%= render "shared/alerts" %>
    <%= render "shared/nav" %>
    <div class="main">
      <%= yield %>
    </div>
    <%= javascript_tag("RAILS_FLASH = JSON.parse('#{ j({ success: flash.notice, error: flash.alert }.to_json) }');") %>
  </body>
</html>
